/* common */
main {
    padding-top: 92px;
    overflow-x: hidden;
}

h1, h2 {
    font-size: 3em;
}

.change-mode {
    position: fixed;
    right: 30px;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #402913;
    color: #fff;
    cursor: pointer;
}
/* header */
header {
    background-color: #8D6339;
    z-index: 999;
}

.navbar .nav-link {
    position: relative;
    color: #fff;
    font-size: 1.2em;
}
.navbar .nav-link::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    content: '';
    transition: 0.2s all;
}
.navbar .nav-link:hover::before {
    transform: scaleX(1);
}

/* video section */
#video-block {
    padding: 15em 0;
}
#video-block video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
#video-block h1,
#video-block p {
    color: #402913;
}
#video-block p {
    max-width: 70%;
    margin: 0 auto;
    font-size: 1.5em;
}

/* carousel block */
#photos {
    overflow-y: hidden;
}
#photos .carousel-inner {
    width: 50%;
    margin: 0 auto;
}
#photos .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#photos .carousel-control-next-icon, 
#photos .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
    background-color: #8D6339;
    background-size: 60%;
}

/* about section */
.about-block figure {
    width: 50%;
    margin-bottom: 0;
    height: 30em;
}
.about-block figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-block .about-right {
    width: 50%;
    padding: 0 3em;
}
.about-block:last-child figure {
    margin-right: 0;
}

/* contacts section */
#contacts input {
    height: 4em;
    border-color: #8D6339;
}
#contacts textarea {
    height: 10em;
    border-color: #8D6339;
    resize: none;
}
#contacts button {
    background-color: #8D6339;
    border-color: #402913;
}
#contacts button:hover {
    background-color: #402913;
}
#contacts label {
    color: #402913;
}
#contacts label span {
    color: darkred;
}

/* price section */
.price-cat {
    margin-bottom: 1em;
}
.price-cat-left {
    display: inline-flex;
    justify-content: center;
    width: 30%;
}
.price-cat-left figure {
    width: 300px;
    height: 300px;
}
.price-cat-left figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.price-cat-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    border-bottom: 2px solid #402913;
}
.price-cat:last-child .price-cat-right {
    border: none;
}
.price-cat-right h3 {
    margin-bottom: 1em;
    padding-bottom: 0.2em;
    border-bottom: 2px solid #8D6339;
    color: #8D6339;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
}
.price-cat-right ul {
    list-style: none;
    font-size: 1.5em;
    color:#402913;
}
.price-cat-right li {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 50%;
}
.price-cat-right li span:nth-child(2) {
    width: 40%;
    height: 1px;
    margin: 0 0.3em;
    border-bottom: 1px dashed #402913;
    flex: 1;
}

/* footer */
footer {
    padding: 1em 0;
    background-color: #8D6339;
}
.social-icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-icons ul li {
    margin-left: 1em;
}
.social-icons ul a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
}
.social-icons ul a:hover {
    color: #402913;
}
.social-icons ul svg {
    position: relative;
    top: -2px;
}
footer p {
    margin-bottom: 0;
}

/* mobile styles */
@media (max-width: 1199px) {
    /* price section */
    .price-cat-left {
        width: 40%;
    }
    .price-cat-right {
        width: 60%;
    }
    .price-cat-right li {
        width: 80%;
    }
}

@media (max-width: 1023px) {
    /* price section */
    .price-cat {
        flex-direction: column;
    }
    .price-cat-left,
    .price-cat-right,
    .price-cat-right li {
        width: 100%;
    }
    .price-cat-left figure {
        margin-bottom: 2em;
    }
    .price-cat-right {
        margin-bottom: 3em;
        border: none;
    }
    .price-cat-right ul {
        padding: 0;
    }
}

@media (max-width: 639px) {
    h2 {
        font-size: 2em;
    }

    /* about section */
    .about-block {
        flex-direction: column;
    }
    .about-block figure {
        width: 100%;
        height: 20em;
        margin-right: 0;
        margin-bottom: 2em;
    }
    .about-block .about-right {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .about-block:last-child {
        margin-top: 3rem;
        flex-direction: column-reverse;
    }
    .about-block .about-right p {
        padding: 0 0.5em;
    }

    /* carousel */
    #photos .carousel-inner {
        width: 100%;
    }

    /* contacts section */
    #contacts .col {
        flex: auto;
        margin-bottom: 1rem;
    }
    #contacts .col:last-child {
        margin-bottom: 0;
    }
    #contacts button {
        width: 100%;
    }

    /* footer */
    .social-icons {
        width: 100%;
    }
    .social-icons ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    footer .container-fluid {
        flex-direction: column;
        align-items: center;
    }
    .valid-block {
        margin-bottom: 1em;
    }

    /* video section */
    #video-block {
        padding: 5em 0;
    }
    #video-block h1 {
        margin-bottom: 0.5em;
        font-size: 2em;
    }
    #video-block p {
        max-width: 95%;
        font-size: 1.2em;
    }

    /* price section */
    .price-cat-right h3 {
        font-size: 1.8em;
    }
}