/* common */
main {
    padding-top: 92px;
    overflow-x: hidden;
}

h1, h2 {
    font-size: 3em;
}

.change-mode {
    position: fixed;
    right: 30px;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #402913;
    color: #fff;
    cursor: pointer;
    transition: 0.2s linear;
}
.change-mode.light {
    background-color: #fff;
    border: 1px solid #402913;
    color: #402913;
}
.change-mode.light:hover, .change-mode:hover {
    background-color: #8D6339;
}

/* header */
header {
    background-color: #8D6339;
    z-index: 999;
}

.navbar .nav-link {
    position: relative;
    color: #fff;
    font-size: 1.2em;
}
.navbar .nav-link::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    content: '';
    transition: 0.2s all;
}
.navbar .nav-link:hover::before {
    transform: scaleX(1);
}

/* video section */
#video-block {
    padding: 15em 0;
}
#video-block video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
#video-block h1,
#video-block p {
    color: #402913;
}
#video-block p {
    max-width: 70%;
    margin: 0 auto;
    font-size: 1.5em;
}

/* carousel block */
#photos {
    overflow-y: hidden;
}
#photos .carousel-inner {
    width: 50%;
    margin: 0 auto;
}
#photos .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#photos .carousel-control-next-icon, 
#photos .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
    background-color: #8D6339;
    background-size: 60%;
}

/* about section */
.about-block figure {
    width: 50%;
    margin-bottom: 0;
    height: 30em;
}
.about-block figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-block .about-right {
    width: 50%;
    padding: 0 3em;
}
.about-block:last-child figure {
    margin-right: 0;
}

/* contacts section */
#contacts input {
    height: 4em;
    border-color: #8D6339;
}
#contacts textarea {
    height: 10em;
    border-color: #8D6339;
    resize: none;
}
#contacts button {
    background-color: #8D6339;
    border-color: #402913;
}
#contacts button:hover {
    background-color: #402913;
}
#contacts label {
    color: #402913;
}
#contacts label span {
    color: darkred;
}

/* price section */
.price-cat {
    margin-bottom: 1em;
}
.price-cat-left {
    display: inline-flex;
    justify-content: center;
    width: 30%;
}
.price-cat-left figure {
    width: 300px;
    height: 300px;
}
.price-cat-left figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.price-cat-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    border-bottom: 2px solid #402913;
}
.price-cat:last-child .price-cat-right {
    border: none;
}
.price-cat-right h3 {
    margin-bottom: 1em;
    padding-bottom: 0.2em;
    border-bottom: 2px solid #8D6339;
    color: #8D6339;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
}
.price-cat-right ul {
    list-style: none;
    font-size: 1.5em;
    color:#402913;
}
.price-cat-right li {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 50%;
}
.price-cat-right li span:nth-child(2) {
    width: 40%;
    height: 1px;
    margin: 0 0.3em;
    border-bottom: 1px dashed #402913;
    flex: 1;
}

/* footer */
footer {
    padding: 1em 0;
    background-color: #8D6339;
}
.social-icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-icons ul li {
    margin-left: 1em;
}
.social-icons ul a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
}
.social-icons ul a:hover {
    color: #402913;
}
.social-icons ul svg {
    position: relative;
    top: -2px;
}
footer p {
    margin-bottom: 0;
}

/* dark mode */
body.dark-mode {
    background-color: #100b06;
    color: #fff;
}
.dark-mode header,
.dark-mode footer,
.dark-mode #contacts button {
    background-color: #301b04;
}
.dark-mode .navbar-brand img {
    filter: brightness(8);
}
.dark-mode #video-block h1, 
.dark-mode #video-block p,
.dark-mode .price-cat-right h3,
.dark-mode .price-cat-right ul,
.dark-mode #contacts label {
    color: #fff;
}
.dark-mode .price-cat-right,
.dark-mode .price-cat-right h3,
.dark-mode .price-cat-right li span:nth-child(2) {
    border-color: #fff;
}
.dark-mode .social-icons ul a:hover {
    color: #000;
}

/* popup form */
#popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(16, 11, 6, 0.6);
}
#popup.hidden {
    display: none;
}
.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.close-popup::before {
    position: relative;
    left: 0;
    top: 8px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
    content: "";
    transform: rotate(45deg);
}
.close-popup::after {
    position: relative;
    right: 0;
    top: 6px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
    content: "";
    transform: rotate(-45deg);
}
.popup-inner {
    position: relative;
    width: 100%;
    max-width: 1024px;
    min-height: 350px;
    padding: 2em;
    background-color: #f9d9ba;
}
.popup-inner legend {
    font-style: italic;
}
.popup-inner textarea {
    width: 100%;
    resize: none;
}
.popup-inner .popup-row {
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.popup-inner .popup-row .popup-row-item {
    width: 48%;
    margin-bottom: 10px;
}
.popup-inner .popup-row label,
.popup-inner .popup-text label {
    font-weight: 600;
}
.popup-inner .popup-row input,
.popup-inner .popup-row select {
    width: 70%;
    height: 40px;
}
.popup-inner button {
    display: block;
    width: 50%;
    height: 40px;
    margin: 0 auto;
    border: none;
    background-color: #301b04;
    color: #fff;
    transition: 0.2s linear;
}
.popup-inner button:hover {
    background-color: #8D6339;
}

/* open popup btn */
#show-popup {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #402913;
    border: 1px solid #402913;
    color: #fff;
    transition: 0.2s linear;
    cursor: pointer;
}
#show-popup:hover {
    background-color: #8D6339;
}

/* buy page */
.products-page {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.products-list {
    margin-bottom: 2em;
}
.product-item {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid grey;
    border-bottom: none;
}
.product-item:last-child {
    border-bottom: 1px solid grey;
}
.product-item .name {
    width: 80%;
    font-size: 20px;
}
.product-item .price {
    font-weight: bold;
}
.product-item button {
    padding: 5px 10px;
    background: #402913;
    border: 1px solid #402913;
    color: #fff;
    cursor: pointer;
}
.product-item button:hover {
    background: #8D6339;
}

/* mobile styles */
@media (max-width: 1199px) {
    /* price section */
    .price-cat-left {
        width: 40%;
    }
    .price-cat-right {
        width: 60%;
    }
    .price-cat-right li {
        width: 80%;
    }
}

@media (max-width: 1023px) {
    /* price section */
    .price-cat {
        flex-direction: column;
    }
    .price-cat-left,
    .price-cat-right,
    .price-cat-right li {
        width: 100%;
    }
    .price-cat-left figure {
        margin-bottom: 2em;
    }
    .price-cat-right {
        margin-bottom: 3em;
        border: none;
    }
    .price-cat-right ul {
        padding: 0;
    }
}

@media (max-width: 639px) {
    h2 {
        font-size: 2em;
    }

    /* about section */
    .about-block {
        flex-direction: column;
    }
    .about-block figure {
        width: 100%;
        height: 20em;
        margin-right: 0;
        margin-bottom: 2em;
    }
    .about-block .about-right {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .about-block:last-child {
        margin-top: 3rem;
        flex-direction: column-reverse;
    }
    .about-block .about-right p {
        padding: 0 0.5em;
    }

    /* carousel */
    #photos .carousel-inner {
        width: 100%;
    }

    /* contacts section */
    #contacts .col {
        flex: auto;
        margin-bottom: 1rem;
    }
    #contacts .col:last-child {
        margin-bottom: 0;
    }
    #contacts button {
        width: 100%;
    }

    /* footer */
    .social-icons {
        width: 100%;
    }
    .social-icons ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    footer .container-fluid {
        flex-direction: column;
        align-items: center;
    }
    .valid-block {
        margin-bottom: 1em;
    }

    /* video section */
    #video-block {
        padding: 5em 0;
    }
    #video-block h1 {
        margin-bottom: 0.5em;
        font-size: 2em;
    }
    #video-block p {
        max-width: 95%;
        font-size: 1.2em;
    }

    /* price section */
    .price-cat-right h3 {
        font-size: 1.8em;
    }
}